@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.b-r {
  border: 1px solid red;
}

.b-b {
  border: 1px solid blue;
}

.bgs-red {
  color: red;
}

.correct {
  /* color: rgb(255, 255, 255, 0.2); */
  color: white;
}

.verticalSelector {
  width: 4px;
  height: 90%;
}
.horizontalSelector {
  width: 22px;
  height: 4px;
  bottom: 0px;
  padding-left: 6px;
}

.incorrect {
  color: red;
}

/* .firstSelected {
  border-left: 3px solid #f3bb0e;
  -webkit-animation: blink-2 1.5s infinite;
  animation: blink-2 1.5s infinite;
} */

.smooth {
  transition: all 0.5s linear;
}
.smoothSlow {
  transition: all 0.05s linear;
}
.slide {
  -webkit-animation: slide 1s linear;

  animation: slide 1s linear;
}

@-webkit-keyframes slide {
  0% {
    left: 0px;
  }
  100% {
    left: 100%;
  }
}

@keyframes slide {
  0% {
    left: 0px;
  }
  100% {
    left: 100%;
  }
}

.pacer {
  border-left: 3px solid rgb(255, 255, 255, 0.2);
  /* -webkit-animation: blink-1 1.5s infinite;
  animation: blink-1 1.5s infinite; */
}

.selected {
  border-bottom: 3px solid #f3bb0e;
  /* -webkit-animation: blink-1 1.5s infinite;
  animation: blink-1 1.5s infinite; */
}
.buttonSelected {
  background: rgb(243, 187, 14) !important;
}
.pacerSelected {
  color: #3f53fc !important;
  background: #f3bb0e;
}

.wordGrid {
  display: grid;
  grid-template-columns: fit-content(8ch) fit-content(8ch) 1fr;
}

.semicircle {
  border-radius: 0%;
}

.cornerCircle {
  border-radius: 0% 0% 100% 0%;
}

.topCircle {
  border-radius: 0% 0% 100% 100%;
}

.bottomLeftCircle {
  border-radius: 0% 1000% 0% 0%;
}

.speedBar {
  transition: height 0.5s linear;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 100px;
}

.box1 {
  grid-column: 1;
  grid-row: 1;
}

.box2 {
  grid-column: 2;
  grid-row: 1;
}
.box3 {
  grid-column: 1/3;
  grid-row: 2;
}

.keyboard {
  display: flex;
  flex-direction: column;
}

.row {
  list-style: none;
  display: flex;
}

li {
  height: 3em;
  width: 3em;
  color: #220a63;
  border-radius: 0.4em;
  line-height: 3em;
  letter-spacing: 1px;
  margin: 0.4em;
  transition: 0.3s;
  text-align: center;
  font-size: 10px;
  background-color: #562fac;
  border: none;
  font-family: "Poppins", sans-serif;
  /* border: 2px solid #562fac; */
}

#tab {
  width: 5em;
}

#caps {
  width: 6em;
}

#left-shift {
  width: 8em;
}

#enter {
  width: 6em;
}

#right-shift {
  width: 6em;
}

#back {
  width: 5em;
}

.hit {
  background-color: #260b73;
  color: #f3bb0e;
  -webkit-animation: hit 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: hit 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes hit {
  0% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes hit {
  0% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #ffff;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham4 .top {
  stroke-dasharray: 40 121;
}
.ham4 .bottom {
  stroke-dasharray: 40 121;
}
.ham4.active .top {
  stroke-dashoffset: -68px;
}
.ham4.active .bottom {
  stroke-dashoffset: -68px;
}

.slide-in-bottom {
  -webkit-animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translate(50% 1000px);
    transform: translate(50% 1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(50% 0);
    transform: translate(50% 0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translate(50% 1000px);
    transform: translate(50% 1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(50% 0);
    transform: translate(50% 0);
    opacity: 1;
  }
}

.sliderContainer {
  width: 100%; /* Width of the outside container */
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #ffff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #f3bb0e;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #f3bb0e;
  cursor: pointer;
}

.fade-in {
  -webkit-animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  display: block;
  position: relative;
  padding-left: 30px;
  /* margin-bottom: 12px; */
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 4px;
  background-color: white;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #f3bb0e;
}
.container:hover {
  color: #f3bb0e;
}

/* .container ~ input:checked {
  color: #3f53fc;
} */

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #f3bb0e;
}
.container input:checked ~ h1 {
  color: #f3bb0e;
}

/* .container:hover input:checked ~ .checkmark {
  background-color: white;
} */

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  color: red;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;

  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.text-focus-in {
  -webkit-animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: text-focus-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-10-29 16:21:51
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0.1;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0.1;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.slide-out-top {
  -webkit-animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
    -webkit-filter: blur(40px);
    filter: blur(40px);
  }
}

.slide-out-bottom {
  -webkit-animation: slide-out-bottom 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-bottom 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
    -webkit-filter: blur(40px);
    filter: blur(40px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
    -webkit-filter: blur(40px);
    filter: blur(40px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}

@-webkit-keyframes slide-out-bottom {
  0% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    opacity: 1;
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
  100% {
    -webkit-transform: translate(-50%, 1000px);
    transform: translate(-50%, 1000px);
    opacity: 0;
    -webkit-filter: blur(40px);
    filter: blur(40px);
  }
}
@keyframes slide-out-bottom {
  0% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    opacity: 1;
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
  100% {
    -webkit-transform: translate(-50%, 1000px);
    transform: translate(-50%, 1000px);
    opacity: 0;
    -webkit-filter: blur(40px);
    filter: blur(40px);
  }
}

.slide-in-bottom {
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translate(-50%, 1000px);
    transform: translate(-50%, 1000px);
    opacity: 0;
    -webkit-filter: blur(40px);
    filter: blur(40px);
  }
  100% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    opacity: 1;
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translate(-50%, 1000px);
    transform: translate(-50%, 1000px);
    opacity: 0;
    -webkit-filter: blur(40px);
    filter: blur(40px);
  }
  100% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    opacity: 1;
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}

.fade-inr {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes fade-inr {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-inr {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  -webkit-animation: fade-out 0.2s ease-out both;
  animation: fade-out 0.2s ease-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-11-1 20:28:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.high-score {
  -webkit-animation: high-score 2s ease-in 1s both;
  animation: high-score 2s ease-in 1s both;
}

.hs-confetti {
  transition-delay: 2s;
}

@-webkit-keyframes high-score {
  0% {
    opacity: 1;
    left: 50%;
    font-size: 60px;
    padding: 20px;
    transform: translateX(-50%);
  }
  60% {
    opacity: 1;
  }
  100% {
    font-size: 14px;
    padding: 0.25rem;
    transform: translateX(0);

    left: 120px;
  }
}
@keyframes high-score {
  0% {
    opacity: 0;
    left: 50%;
    font-size: 60px;
    padding: 20px;
    transform: translateX(-50%);
  }
  80% {
    opacity: 1;
  }
  100% {
    font-size: 12px;
    padding: 0.25rem;
    transform: translateX(0);

    left: 120px;
  }
}
